
<div class="login-wrapper">
    <%- messages() %>

<form id="loginForm" action="/account/login" method="post">
    <h2>Login</h2>
    <!-- Username -->
    <label for="username">Username</label>
    <input type="text" id="account_username" name="account_username" required>

    <!-- Password -->
    <label for="password">Password</label>
    <input type="password" id="account_password" name="account_password" required>

    <!-- Submit -->
    <button type="submit">Login</button>    

    <p>Not a member? <a href="/account/register">Register</a></p>
</form>
</div>
