
<h1>Add New Classification</h1>





<form action="/inv/add-classification" method="POST" id="add-classification-form">
  <label for="classification_name">Classification Name</label>
  <input 
    type="text" 
    id="classification_name" 
    name="classification_name" 
    pattern="^[A-Za-z0-9]+$"
    title="No spaces or special characters allowed"
    required
  >
  <button type="submit">Add Classification</button>
</form>
